#clock{
  		width:200px; 
  		height:200px;
		border-radius:50%;
		border:4px solid #ccc;
		box-shadow:10px 10px 10px 6px black;
		position:relative;
		color:red;
		background:url(../images/clock.jpg)no-repeat center;
		background-color:#ccc;
	}
#s{
	width:1px; 
	height:105px;
	position:absolute; 
	top:5px; 
	left:99px;
	background-color:red;
	transform-origin:50% 95px;
}
#m{
	width:3px; 
	height:100px;
	position:absolute; 
	top:10px; 
	left:98px;
	background-color:blue;
	transform-origin:50% 90px;
}
#h{
	width:6px; 
	height:95px;
	position:absolute; 
	top:15px; 
	left:97px;
	background-color:black;
	transform-origin:50% 85px;
}
div[id^="a"]{
	position:absolute;
	font-size:.5em; 
	text-align:center;
	width:7px; 
	height:5px;
	top:0; 
	left: 100px;
	transform-origin:50% 100px;
}
/*#a4,#a8{font-size:.4em; font-weight:bold}*/
#a1{transform:rotate(30deg)}
#a2{transform:rotate(60deg)}
#a3{transform:rotate(90deg)}
#a4{transform:rotate(120deg)}
#a5{transform:rotate(150deg)}
#a6{transform:rotate(180deg)}
#a7{transform:rotate(210deg)}
#a8{transform:rotate(240deg)}
#a9{transform:rotate(270deg)}
#a10{transform:rotate(300deg)}
#a11{transform:rotate(330deg)}