/*全局设置*/
@charset "utf-8";
*{margin:0px; padding:0px;}
body{font-size:16px;font-family:"Microsoft Yahei";}
li
{
	list-style:none;
	display:block;
}
/*整体页面*/
.main
{
	width:75%;
	margin:10px auto;
	padding:10px; 
	border:3px solid #990099;
	background-color:#FFCCCC;
	font-size:16px;
	line-height:25px;
}
/*防止没有照片盖住基本信息*/
#mymessage>b{
	display:block;
	border:0;
	width:100%;
	height:40px;
}
/*头部导航区*/
h3,h4{
	color:#990099;
	padding:3px;
}

.header
{
	position:fixed;
	top:0px;
	width:74%;
	background-color:#FF6699;
	border:2px solid #990099;
	padding:5px;
	filter:alpha(opacity 90);
	opacity:0.9;
	z-index:5;
}

.header ul li
{
	float:right;
}

.header ul li a
{
	display:block;
	text-decoration:none;
	height:30px;
	line-height:30px;
	text-align:center;
	background:#efefef; 
	margin-left:3px;
	border:2px solid #990099;
	border-radius:5px;
	color:green;

}

.header ul li a.on, .header ul li a:hover
{
	background:#990099;
	color:#fff; 
}
/*样式变换按钮*/
.btn
{
	float:right;	
}

input
{
	border:2px solid #990099;
	background-color:green;
	border-radius:5px;
}
/*主体内容*/
.mainbody
{
	margin:0px auto;
	margin-bottom:0px;
	background:url("../images/bg3.jpg")no-repeat;
	padding:15px;
}
/*简历照片*/
.message01 img 
{
	float:left;
	/*margin:10px;*/
}

/*底部区域*/
.footer
{
	height:100px;
	padding:10px;
	border:2px solid #990099;
	margin-top:10px;
	background-color:#FFCCFF;
}

.footer img{
	width:100px;
	height:100px;
	float:left;
}

.footer p{
	padding:10px;
	text-indent:2em;
}
